 .u-section-1 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(38, 138, 52, 0.7), rgba(38, 138, 52, 0.7)), url('images/photo-1475965894430-b05c9d13568a.jpeg');
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-image-1 {
  width: 528px;
  height: 528px;
  box-shadow: -3px 5px 8px 5px rgba(0,0,0,0.5);
  margin: 157px auto 0 42px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-family: PurisaBold;
  font-size: 3rem;
  text-shadow: 2px 5px 8px rgba(0,0,0,0.9);
  margin: -528px 92px 0 640px;
}

.u-section-1 .u-text-2 {
  font-family: PurisaMedium;
  text-shadow: 2px 5px 8px rgba(0,0,0,1);
  margin: 34px 104px 0 652px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: -3px 5px 8px 0px rgba(0,0,0,1);
  margin: 42px 189px 0 auto;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: -3px 5px 8px 0px rgba(0,0,0,1);
  margin: 29px 145px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 532px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 4px;
    margin-left: 552px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-image-1 {
    width: 513px;
    height: 513px;
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 555px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 34px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 35px;
  }
} .u-section-2 {
  background-repeat: no-repeat;
  background-image: url("images/DadDino.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 566px;
}

.u-section-2 .u-image-1 {
  width: 450px;
  height: 450px;
  background-position: 50% 50%;
  margin: 50px auto 0 50px;
}

.u-section-2 .u-image-2 {
  width: 450px;
  height: 450px;
  background-position: 50% 50%;
  margin: -450px 50px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 377px;
  --radius: 50px;
  height: auto;
  background-image: none;
  min-height: 347px;
  margin: -390px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-2 .u-text-1 {
  font-family: PurisaMedium;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
    background-size: cover;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-2 .u-image-1 {
    --radius: 50px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 317px;
    margin-top: 243px;
    margin-left: -19px;
  }

  .u-section-2 .u-image-2 {
    width: 360px;
    height: 317px;
    --radius: 50px;
    margin-top: -317px;
    margin-right: -18px;
  }

  .u-section-2 .u-group-1 {
    width: 656px;
    min-height: 185px;
    margin-top: -534px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-2 .u-image-1 {
    height: 299px;
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 299px;
    margin-top: 310px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -575px;
    min-height: 242px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(76, 115, 151, 0.7), rgba(76, 115, 151, 0.7)), url('images/photo-1475965894430-b05c9d13568a.jpeg');
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 616px;
}

.u-section-3 .u-group-1 {
  width: 490px;
  min-height: 486px;
  background-image: none;
  height: auto;
  --radius: 50px;
  margin: 65px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-family: GosmickSans;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
}

.u-section-3 .u-image-1 {
  width: 261px;
  height: 187px;
  --radius: 50px;
  margin: -486px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 195px;
  height: 266px;
  --radius: 50px;
  margin: -187px auto 0 288px;
}

.u-section-3 .u-image-3 {
  width: 261px;
  height: 186px;
  --radius: 50px;
  margin: 35px auto 0 239px;
}

.u-section-3 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 195px;
  height: 265px;
  margin: -265px auto 60px 17px;
}

.u-section-3 .u-image-4 {
  width: 265px;
  height: 195px;
  --radius: 50px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-image-1 {
    height: 186px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -186px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-3 .u-group-1 {
    width: 362px;
    min-height: 431px;
    margin-top: 34px;
    margin-right: -2px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 1rem;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-3 .u-image-1 {
    width: 209px;
    height: 159px;
    margin-top: -426px;
    margin-left: -43px;
  }

  .u-section-3 .u-image-2 {
    width: 152px;
    height: 230px;
    margin-top: -159px;
    margin-left: 181px;
  }

  .u-section-3 .u-image-3 {
    width: 209px;
    height: 159px;
    margin-top: 32px;
    margin-left: 136px;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: 152px;
    height: 230px;
    margin-top: -230px;
    margin-bottom: 39px;
    margin-left: -31px;
  }

  .u-section-3 .u-image-4 {
    width: 230px;
    height: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-3 .u-group-1 {
    min-height: 446px;
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 8px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 26px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 26px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: -159px;
    margin-left: -32px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: -415px;
    margin-bottom: 219px;
    margin-left: -32px;
  }
} .u-section-4 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(219, 84, 90, 0.7), rgba(219, 84, 90, 0.7)), url('images/photo-1475965894430-b05c9d13568a.jpeg');
}

.u-section-4 .u-sheet-1 {
  min-height: 549px;
}

.u-section-4 .u-group-1 {
  width: 490px;
  min-height: 414px;
  background-image: none;
  height: auto;
  --radius: 50px;
  margin: 70px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 21px;
}

.u-section-4 .u-text-1 {
  font-family: GosmickSans;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
}

.u-section-4 .u-image-1 {
  width: 490px;
  height: 414px;
  --radius: 50px;
  margin: -419px 80px 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: GosmickSans;
  margin: 0 -17px 42px 425px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-4 .u-group-1 {
    width: 362px;
    min-height: 348px;
    margin-top: 34px;
    margin-left: -26px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 362px;
    height: 348px;
    margin-top: -348px;
    margin-right: -28px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: -192px;
    margin-bottom: 21px;
    margin-left: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-4 .u-group-1 {
    min-height: 295px;
    margin-top: 35px;
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 16px 0 12px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 40px;
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 17px;
  }
} .u-section-5 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(rgba(153, 153, 153, 0.7), rgba(153, 153, 153, 0.7)), url('images/photo-1475965894430-b05c9d13568a.jpeg');
  background-size: cover, cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 1014px;
}

.u-section-5 .u-image-1 {
  width: 157px;
  height: 300px;
  margin: 42px auto 0;
}

.u-section-5 .u-text-1 {
  font-family: GosmickSans;
  font-size: 3.75rem;
  text-shadow: -2px 5px 8px rgba(0,0,0,1);
  width: 732px;
  margin: 17px auto 0;
}

.u-section-5 .u-text-2 {
  font-family: GosmickSans;
  font-size: 1.875rem;
  text-shadow: -2px 2px 8px rgba(0,0,0,1);
  width: 732px;
  margin: 0 auto;
}

.u-section-5 .u-form-1 {
  height: 419px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 732px;
  margin: 25px auto 50px;
}

.u-section-5 .u-label-1 {
  font-weight: 700;
  font-family: GosmickSans;
}

.u-section-5 .u-input-1 {
  font-family: GosmickSans;
}

.u-section-5 .u-label-2 {
  font-weight: 700;
  font-family: GosmickSans;
}

.u-section-5 .u-input-2 {
  font-family: GosmickSans;
}

.u-section-5 .u-label-3 {
  font-weight: 700;
  font-family: GosmickSans;
}

.u-section-5 .u-input-3 {
  font-family: GosmickSans;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: GosmickSans;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 420px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-5 .u-form-1 {
    --radius: 30px;
    margin-bottom: -185px;
  }

  .u-section-5 .u-btn-1 {
    --radius: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-5 .u-image-1 {
    height: 191px;
    margin-top: 21px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-form-1 {
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 198px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-5 .u-form-1 {
    margin-bottom: -438px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-5 .u-image-1 {
    height: 113px;
    margin-top: 25px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 15px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-form-1 {
    height: 529px;
    margin-bottom: 39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}@font-face {
  font-family: 'PurisaBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PurisaBold.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'PurisaBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PurisaBold.ttf);
}@font-face {
  font-family: 'PurisaMedium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PurisaMedium.ttf);
}@font-face {
  font-family: 'GosmickSans';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GosmickSans.ttf);
}